@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

// Colours
  $darkGreen: #005130;
  $offWhite: #E8E9F3;
  $lightGrey: #CECECE;
  $medGrey: #A6A6A8;
  $lightBlue: #B1E5F2;

// Styles

  html {
    background-color: $offWhite;
  }

  .logo {
    width: 50px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Economica', sans-serif;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }

  .nav-link {
    color: $darkGreen!important;
  }

  .img-break {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  header h1 {
    color: $darkGreen!important;
  }

  hr {
    border-color: $darkGreen!important;
  }

  header h2 {
    color: $darkGreen!important;
    font-size: 2.5rem;
  }

   header .row {
     padding-top: 15%;
     padding-bottom: 10%;
   }

   header .card {
     background-color: rgba(177, 229, 242, 0.5)!important;
     border-color: rgba(177, 229, 242, 0.25)!important;
     color: $darkGreen!important;
     padding: 10px;
     margin-left: 15px;
     margin-right: 15px;
   }

   .bg-primary {
     background-color: $darkGreen!important;
     h2, p, ul {
       color: $offWhite!important;
     }
   }

   .btn-primary {
     display: none;
   }

  #mainNav, .card {
    background-color: $offWhite!important;
  }

  #accordion p, #accordion ul {
    color: $darkGreen!important;
  }

  .bg-primary p {
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
  }

  .bg-primary .card {
    border: solid $lightBlue 5px;
    margin: 10px;
    color: $darkGreen!important;
    h3 {
    padding-top: 15px;
    }
  }

    .img-center {
      margin: 0 auto;
      display: block;
      width: 150px;
      padding-top: 15px;
      padding-bottom: 10px;
    }


    .img-flex {
      width: 100%;
    }

  .map {
    width: 100%;
    margin: 0 auto;
    height: 300px;
  }

  .img-center-schedules {
    margin: 0 auto;
    display: block;
    width: 90%;
    padding-top: 15px;
  }


  @media only screen and (min-width: 60em) {

    .map {
      width: 100%;
      margin: 0 auto;
      height: 400px;
    }
    .button {
      margin-top: 50px;
    }
    .btn-primary {
      display: block;
      background-color: $darkGreen!important;
      width: 50%;
      margin: 0 auto;
    }
    .btn-primary a {
      color: $offWhite!important;
    }
  }
